<div class="footer-title">little programs</div>

<div class="footer-content-wrapper">
  <div class="footer-link-wrapper">
    <div class="footer-link">
      <a href="about.html">About</a>
    </div>
    |
    <div class="footer-link">
      <a href="about.html">Archives</a>
    </div>
    |
    <div class="footer-link">
      <a href="about.html">Programs By Me</a>
    </div>
    |
    <div class="footer-link">
      <a href="https://github.com/dsmcclain">Github</a>
    </div>
    |
    <div class="footer-link">
      <a href="https://www.linkedin.com/in/dylan-mcclain-987815183/">LinkedIn</a>
    </div>
  </div>
  <div class="footer-name-logo">
    <div>DYLAN MCCLAIN</div>
  </div>
</div>
