<input type="checkbox" class="menu-toggler" aria-label="Menu">
<div class="hamburger"><div></div></div>
<div class="nav-link-wrapper">
  <div class="nav-link" id="home-link">
    <a href="index.html">Home</a>
  </div>
  <div class="nav-link" id="about-link">
    <a href="about.html">About</a>
  </div>
  <div class="nav-link" id="by-me-link">
    <a href="built-by-me.html">Built by Me</a>
  </div>
</div>

<div class="header-title">
  <div>little programs</div>
</div>

<div class="name-logo">
  <div>DYLAN MCCLAIN</div>
</div>
