/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
}

/* Nav Styles */
.container {
  display: grid;
  grid-template-columns: 1fr;
  background: bisque;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.nav-link-wrapper {
  display: flex;
}

.nav-wrapper > .nav-link-wrapper > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
}

.nav-link a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.nav-link a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* Portfolio Styles */

.main-hero-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-items-wrapper {
  position: relative;
}

.main-hero-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.site-title {
  font-size: 2.5em;
  font-weight: 600;
  color: white;
}

/* About page */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}

/* Articles Containers */

.articles-container {
  display: grid;
  gap: 3px;
  grid-template: 150px 500px 150px / repeat(8, 1fr);
  min-width: 0;
  min-height: 0;
}

/* .articles-children:nth-child(odd) {
 background-color: pink;
} */

/* .articles-children:nth-child(even) {
  background-color: khaki;
} */

.content-main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: left;
  padding: 50px;
}

.articles-card {
  display: flex;
  align-items: center;
  justify-content: right;
  border-radius: 10px;
  padding-right: 40px;
  padding-left: 5px;
  height: 14vw;
  margin: 1.5vw;
  text-decoration: none;
  outline: 0;
}

.articles-card.yahtzee {
  background: linear-gradient(-70deg,
  orange 30%,
  rgba(0, 0, 0, 0) 30%),
  url('images/dice.jpg');
}

.articles-card.reminder {
  background: linear-gradient(-70deg,
  salmon 30%,
  rgba(0, 0, 0, 0) 30%),
  url('images/clocks.jpg');
}

.articles-card > .articles-title{
  font-weight: bolder;
  font-size: 3vw;
  color: white;
  text-align: right
}

.header {
  grid-column: 1 / -1;
  overflow: hidden;
}

.footer {
  grid-column: 2 /-1;
}

/*Articles Styles */

.about-statement {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 50%;
  border-bottom: 1px solid black;
  font-weight: bold;
}

/* Article Page */

.article-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: bisque;
}

.article-wrapper {
  display: grid;
  grid-template-columns: 0.5fr repeat(10, 1fr) 0.5fr;
}

.article-wrapper > * {
  grid-column: 3 / 11;
  min-width: 0;
  min-height: 0;
}

.article-title {
  text-align: center;
  font-size: larger;
}

.article-by-line {
  text-align: center;
  font-size: .75em;
  color: #777
}

.hero-wrapper {
  display: grid;
  grid-column: 2 / 12;
  grid-template-columns: repeat(10, 1fr);
}

.article-hero-image {
  grid-column: 1 / 6;
  padding: 10px;
  margin: auto;
}

.info-block {
  grid-column: 6 / -1;
  padding: 10px;
  font-size: 1.5vw;
}

@media (max-width: 800px) {
  .article-hero-image {
    grid-column: 3 / 9;
  }

  .info-block {
    grid-column: 3 / 9;
    font-size: 12px;
  }
}

@media (min-width: 800px) {
  .info-block h3 {
    font-size: 1.5vw;
  }
}

.info-block h3 {
  color: orangered;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.info-block h3 > * {
  color: cornflowerblue;
}

.article-hero-image img {
  width: 100%;
}

.article-subtitle {
  text-transform: uppercase;
  text-align: center;
}

.article-footer {
  color: #777;
  min-width: 0;
}

.separator-line {
  border-top: 1px solid black;
  max-width: 15%;
}
