/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;
  margin: 0px;
}

/* Nav Styles */
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.nav-link-wrapper {
  display: flex;
}

.nav-wrapper > .nav-link-wrapper > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
}

.nav-link a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.nav-link a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* Portfolio Styles */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.portfolio-item-wrapper:hover .site-title {
  transition: .5s;
  opacity: 1;
}

.site-title {
  font-size: 2.5em;
  font-weight: 600;
  color: white;
  opacity: 0.5;
}

/* About page */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}

/* Articles Containers */

.articles-container {
  display: grid;
  gap: 3px;
  grid-template: 150px 500px 150px / repeat(8, 1fr);
}

.articles-children:nth-child(odd) {
 background-color: pink;
}

.articles-children:nth-child(even) {
  background-color: khaki;
}

.header {
  grid-column: 1 / -1;
}

.sidebar {
  grid-row: 2 / -1;
}

.content-main {
  grid-column: 3 / 7;
}

.content-outside-margin {
  grid-column: 7 / -1;
}

.footer {
  grid-column: 2 /-1;
}

/*Articles Styles */

.about-statement {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 50%;
  border-bottom: 1px solid black;
  font-weight: bold;
}

/* Article Page */

.article-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: bisque;
}

.article-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr) 1fr;
}

.article-wrapper > * {
  grid-column: 2 / 5;
  gap: 10px;
  min-width: 0;
  min-height: 0;
}

.article-title {
  text-align: center;
  font-size: larger;
}

.article-by-line {
  text-align: center;
  font-size: .75em;
  color: #777
}

.article-hero-image {
  max-width: 45vw;
  margin: auto;
}

.hero-side-caption {
  text-align: center;
  margin-top: 30px;
}

.hero-side-caption h2 {
  color: orangered;
  text-transform: uppercase;
}

.article-hero-image img {
  width: 100%;
}

.margin-comment {
  grid-column: 5;
  font-size: .9em;
  color: #777;
  margin-right: 10px;
}

.article-footer {
  grid-column: 2;
  color: #777;
  min-width: 0;
}

.separator-line {
  border-top: 1px solid black;
  max-width: 15%;
}
