<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>little programs</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <script src="w3.js"></script>
</head>
<body>
  <div class="article-container">
    <div w3-include-html="partials/navbar.html" class="nav-wrapper"></div>

    <div class="article-wrapper">

      <div class="article-title">
        <h1>Title</h1>
      </div>

      <div class="article-by-line">
        <p></p>
      </div>
      <div class="article-hero">
        <div class="article-hero-wrapper">
          <div class="article-hero-image">
            <img src="images/title-image.jpg">
          </div>

          <div class="info-block">
            <div class="info-block-wrapper">
              <h3><span class="info-category">What it is: </span>Here is a description of the program.  Here is a sentence extending that description.</h3>
              <h3><span class="info-category">How it's built: </span>Here is a list of the technologies involved in creating the program.</h3>
              <h3><span class="info-category">How to use it: </span>Maybe just install and run it?</h3>
            </div>
          </div>
        </div>
      </div>

      <p class="article-subtitle">THE STORY</p>

      <p>
        <span class="codespan">Sentence one:</span> what was the problem that existed?  Sentence two: how is this program a solution to the problem?
      </p>
      <img class="article-internal-image" src="images/title-image.jpg">
      <p>
        Sentence three: as you can see from the above image, this is a pretty good solution.  Sentence four: hopefully the solution is relevent to you too, because of xyz.
      </p>
      <p>
        <span style="color: #b60d00">The most interesting piece of the design puzzle was</span> something something something else. Probably a few more sentences here.
      </p>
      <p>
        Future-facing paragraph: maybe there is more that could be done to extend this program?  Or what did I learn from it?  Or perhaps what could be done better if we were to build it again?  Or even some resources to further explore.
      </p>
      <div class="article-footer">
        <div class="separator-line"></div>
        <p>This is the footer text.</p>
      </div>
    </div>
  </div>
  <div w3-include-html="partials/footer.html" class="footer"></div>
  <script>
    w3.includeHTML();
  </script>
</body>
</html>
