<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>little programs</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <div class="nav-wrapper">
      <div class="nav-link-wrapper">
        <div class="nav-link">
          <a href="index.html">Home</a>
        </div>
        <div class="nav-link active-nav-link">
          <a href="about.html">About</a>
        </div>
        <div class="nav-link">
          <a href="https://github.com/dsmcclain">Github</a>
        </div>
      </div>

      <div class="name-logo">
        <div>DYLAN MCCLAIN</div>
      </div>
    </div>

    <div class="article-wrapper">

      <div class="article-title">
        <h1>Title</h1>
      </div>

      <div class="article-by-line">
        <p></p>
      </div>
      <div class="article-hero-image">
        <img src="images/Koda.jpg">
      </div>

      <div class="hero-side-caption">
        <h2>Caption</h2>
      </div>

      <p>
        Here is the text of the article.
      </p>
        
      <p class="margin-comment">Here is a comment in the margin.</p>

      <div class="article-footer">
        <div class="separator-line"></div>
        <p>This is the footer text.</p>
      </div>
    </div>
  </div>
</body>
</html>
