<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>little programs</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <script src="w3.js"></script>
</head>
<body>
  <div role="navigation" w3-include-html="partials/navbar.html" class="nav-wrapper"></div>
  <div w3-include-html="partials/footer.html" class="footer"></div>
  <script>
    w3.includeHTML();
  </script>
</body>
